# Binder Test

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'x': np.arange(10, 15),
    'y': list('abcde'),
    'z': [True] * 3 + [False] * 2
}

data

{'x': array([10, 11, 12, 13, 14]),
 'y': ['a', 'b', 'c', 'd', 'e'],
 'z': [True, True, True, False, False]}

In [3]:
df = pd.DataFrame(data, index=range(5))

df

    x  y      z
0  10  a   True
1  11  b   True
2  12  c   True
3  13  d  False
4  14  e  False